/* FLEX */

.container2 {
    display: flex;
    flex-direction: column;
}

button {
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .flex-pair {
       display: flex; 
       flex-direction: row;
       padding: 30px;
    }

    .flex-pair input {
        flex-grow: 1;
    }

}